body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  display:inline-block;
  min-width: 25%;
  
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:not(:last-child) {
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  
}

.mdc-btn:hover {
  background-color: #004c40;
}
.mdc-btn:active {
  box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
}

.form {
  min-width: 1030px;
  background-color: rgb(93, 161, 124);
}
.item {
  display: inline-block;
  width: 230px;
  height: 410px;
  min-width: 230px;
  padding: 10px;
  background-color: rgba(229, 236, 204, 0.664);
  margin-bottom: 4px;
}

.items-container {
  min-width: 1030px;
  margin: auto;
  padding: 10px;
}
