* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* header */
.header {
  padding: 12px;
  margin-bottom: 24px;
  text-align: justify;
  font-size: 0;
  background-color: #2196f3;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
}

.header::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  text-decoration: none;
  background-image: url('https://cdn.worldvectorlogo.com/logos/react-native-firebase-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: inline-block;
  vertical-align: middle;
}

.menu button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #424242;
  border-bottom: 2px solid transparent;
}

.menu a:last-child {
  margin-right: 0;
}

.menu button:hover {
  border-color: #f5d108;
}
table,
th,
td {
  border: 1px solid black;
}

table {
  background: #2196f3;
}

.form {
  width: 300px;
  padding: 6px;
  margin: 20px auto;
  background: #2196f3;
  border: 1px solid #cad8de;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  font-family: roboto, sans-serif;
  font-size: 11px;
}

.form > h3 {
  display: inline-block;
  width: 98px;
}

.form label {
  display: block;
}

.input-form {
  min-width: 280px;
  height: 50px;
}

.button-js {
  float: right;
  padding: 6px 20px;
  height: 30px;
  border-radius: 15px;
  color: rgb(247, 207, 207);
  font: bold 13px Arial, Tahoma, sans-serif;
  background-color: #585353;
  cursor: pointer;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
  outline: none;
}

.close-btn {
  display: inline-block;
  margin-left: 59.5%;
  background-color: #585353;
}

.close-btn:before {
  content: url(../img/close-icon.png);
  top: 0;
}

.form-header {
  display: inline-block;
}
