<form class="form">
      <h3 class="form-header">Edit book</h3>
      <button class="close-btn"></button>
      <label for="js-genre-input">{{genreId}}</label>
      <input class="input-form js-genre-input" type="number" placeholder="Genre Id">
      <label for="js-author-input">{{author}}</label>
      <input class="input-form js-author-input" type="text" placeholder="Author">
      <label for="js-price-input">{{price}}</label>
      <input class="input-form js-price-input" type="number" placeholder="Price">
      <label for="js-title-input">{{title}}</label>
      <input class="input-form js-title-input" type="text" placeholder="Title">
      <button class="button-confirm-js" type="submit">Confirm</button>
    </form>