<form class="form">
      <h3 class="form-header">Edit book</h3>
      <button class="close-btn"></button>
      <label for="js-title-input">Search book</label>
      <input class="input-form js-title-input" type="text" placeholder="Enter book title">