:root {
    --main-font-stack: 'Roboto Black', sans-serif;
    --nav-font-stack: 'Open Sans ', sans-serif;

    --handwriting-font-stack: 'Kaushan Script', cursive;

    --mint: #99CCCC;

    --pink: #FF6699;
}