body {
  padding: 30px;
}

li {
  list-style: none;
}
.image-gallery {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.preview {
  margin: 3px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(236, 229, 229);
  border-radius: 2px;
  padding: 10px;
  box-shadow: inset 5px 5px 10px rgba(112, 106, 100, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}

.preview :hover {
  filter: sepia(60%);
  border-bottom: 3px solid #063b8a;
  box-shadow: 2px 3px 5px  #063b8a;
}

.image-fullview {
  padding: 5px;
  width: 99%;
  border-radius: 1%;
}

.fullview {
  text-align: center;
  background-color: rgb(236, 229, 229);
  box-shadow: inset 5px 5px 10px rgba(112, 106, 100, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 2px;
}

.effect {
  filter: sepia(60%);
}

.image-preview {
  width: 160px;
  margin-bottom: -4px;
}
