* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .stopwatch {
    margin: auto;
    text-align: center;
    min-width: 400px;
  }
  .time {
    font-size: 32px;
    cursor: pointer;
  }
  .btn {
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    width: 116px;
    min-height: 36px;
    text-transform: uppercase;
  }
  
  .time .laps {
    text-align: center;
    font-size: 64px;
    margin: 0;
  }